body {
    font-family: 'nonito', sans-serif;
    font-weight: 100;
    background-color: #EEEFE0;
}

#navbar .nav-link:hover{
    color: white;
}

#navbar .navbar-brand {
    color: white;
    font-size: 1.5rem;
}

#navbar .navbar-brand:hover {
    color: black;
}

#navbar .navbar-toggler:hover {
    color: white;
}

#title-H {
    font-weight: 100;
    font-size: 3rem;
}

#title-H h1:nth-of-type(2n) {
    color: #FFC107;
}

.blurb h2 {
    font-size: 2.5rem;
    font-weight: 100;
}

.blurb p {
    font-weight: 100;
    line-height: 2;
}

.navbar .scrolled {
    background-color: #D1D3D4;
    transition: 500ms;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.content:nth-of-type(1) {
    margin-top: 0;
}

@media (max-width: 1200px) {
    #title-H h1{
        font-size: 2rem;
        font-weight: 100;
    }
}